body{  
    scroll-behavior: smooth;
    background-color: rgb(224, 237, 231);
}
header{
    display: flex;
    background-color: rgb(166, 205, 240);
    padding-bottom: 10px;
    padding-top: 10px;
}
nav{
    display:flex;
    align-items: center;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    color: black;
}
nav a:hover{
    border-bottom: 2px solid black;
}
.dropdown button{
    font-size: 16px;
    padding: 10px;
    margin: 0;
    border: none;
    background-color: transparent;
    color: black;
}
.dropdown .drp-content{
    background-color: aliceblue;
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100px;
    display: none;
}
.dropdown:hover .drp-content{
    display: block;
}
.dropdown .drp-content a{
    color: black;
    display: block;
}
.drp-content a:hover{
background-color: rgb(166, 205, 240);
}
.title{
    margin-left: 50px;
}
.title img{
    width: 30px;
    height: 30px;
}
.post{
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.post_info{
    background-color: rgb(238, 237, 237);
    border-radius: 5px;
    box-shadow: 2px 6px 2px;
    margin: 10px;
    padding: 10px;
    line-height: 25px;
}
.post_info ul{
    width: 500px;
}
.post_info ul li{
    list-style: decimal;
    font-size: 17px;
    font-weight: bold;
}
.post_example{
    
    display: flex;
    flex-direction: column;
    
}
.post_example img {
    width: 400px;
    margin: 5px;
    margin-top: 20px;
    box-shadow: 0px 4px 6px ;
}
